<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>My Contacts</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="/public/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/public/assets/css/font-awesome.css">

        <link rel="stylesheet" href="/public/assets/css/contacts.css">
    </head>
    <body>
        <div class="container">

            <div class="page-title">
                <h2><span class="fa fa-users"></span> My Contacts <small><%= rows.length %> contacts</small></h2>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="profile-card">
                        <p>Support search by: name</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <input id="search" type="text" class="form-control" placeholder="Who are you looking for?"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a href="/profile" id="addContact" class="btn btn-success btn-block"><span class="fa fa-plus"></span> Add new contact</a>
                                </div>
                            </div>
                        </form>                                    
                    </div>
                </div>
            </div>
            
            <% if (rows.length > 0) { %>
            <div class="row">
                <% for (var i = 0; i < rows.length; i++) { %>
                <%     var contact = rows[i]; %>
                <%     var fullName = contact.firstName + ' ' + contact.lastName %>
                <div class="col-md-3 contact-card">
                    <div class="panel panel-default">
                        <div class="panel-body profile">
                            <div class="profile-image">
                                <% if (contact.imagePath !== null) { %>
                                <img src="<%= '/' + contact.imagePath %>" alt="<%= fullName %>"/>
                                <% } else { %>
                                <img src="/public/assets/images/no-image.png" alt="<%= fullName %>"/>
                                <% } %>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name"><%= fullName %></div>
                            </div>
                            <div class="profile-controls">
                                <a href="/profile/<%= contact.contactId %>" class="profile-control-left"><span class="fa fa-pencil-square-o"></span></a>
                                <a href="#" data-id="<%= contact.contactId %>"class="profile-control-right confirm-delete"><span class="fa fa-times"></span></a>
                            </div>
                        </div>                                
                        <div class="profile-card">                                    
                            <div class="contact-info">
                                <p><small>Phone</small><br/><%= contact.phone %></p>
                                <p><small>Email</small><br/><%= contact.email %></p>
                            </div>
                        </div>                                
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>

        <script type="text/javascript" src="/public/assets/js/jquery.js"></script>
        <script type="text/javascript" src="/public/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="/public/assets/js/bootbox.js"></script>

        <script>
            $('.confirm-delete').on('click', function(e){
                e.preventDefault();

                var id = $(this).data('id');
                bootbox.confirm('Are you sure?', function(result){
                if (result)
                    deleteContact(id);
            });
        });
            
            function deleteContact(id){
                $.ajax({
                    url: '<%=restEndpoint %>' + '/' + id,
                    type: 'DELETE',
                    contentType: 'json'
                })

                .done(function(data) {
                        console.log('AJAX callback response:', JSON.stringify(data));
                        window.location.href = '/';
                    })
                    .fail(function(jqXHR, textStatus, err) {
                        console.log('AJAX error response:', textStatus);
                        bootbox.alert('Error deleting record!');
                    });
                };

               $('#search').keyup(function() {
                $rows = $('div.contact-card');

                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

                $rows.show().filter(function() {
                    var fn = $(this).find('div.profile-data-name').text().replace(/\s+/g, ' ').toLowerCase();

                    return !~fn.indexOf(val);
                }).hide();
            });
            
        </script>
    </body>
</html>